body{

}

.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.title{
  font-family: Merriweather;
  letter-spacing: 0.04em;
  color: #000000;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 48px;
}