@media (max-width: 1250px){
  .reviews{
    &__item-img{
      max-width: 300px;
    }
  }
}

@media (max-width: 1160px){
 .price{
   &__items{
    overflow-x: auto;
   }
   &__items::-webkit-scrollbar{
     width: 0;
   }
 }
}

@media (max-width:1070px){
  .header{
    position: relative;
    background-position: center top;
  }
  .header-content{
    height: 100vh;
    &__title{
      font-size: 72px;
      line-height: 80px;
    }
  }
 .menu{
   position: fixed;
   bottom: -2px;
   padding-top: 0;
   width: 100%;
   right: 0;
   background-color: #311C04;
   height: 44px;
   &__list{
     position: absolute;
     display: block;
     text-align: center;
     z-index: 10;
    bottom: 44px;
    left: 0;
    right: 0;
   }
   &__list-two{
     display: none;
   }
   &__list-item{
     margin-right: 0;
     padding: 10px;
     background-color: #311C04;
     border-bottom: 3px solid #fff;
      transform: translateX(-200%);
      &:hover{
        transform: skew(30deg);
      }
   }
   &__list-item--active{
     transform: translateX(0);
   }
   &__list-item--one{
     transition: all 1.75s;
   }
     &__list-item--two{
     transition: all 1.5s;
   }
     &__list-item--three{
     transition: all 1.25s;
   }
     &__list-item--four{
     transition: all 1s;
   }
   
   &__list-link{
     color: #fff;
   }
   &__list-number{
     margin-left: 0;
   }
   &__btn{
     display: block;
     transition: all 1.5s;
     z-index: 10;
     &:hover{
       transform: rotateZ(360deg);
       transition: all 1.5s;
     }
   }
   &__inst{
     display: block;
     transition: all 1.5s;
     z-index: 10;
     &:hover{
       transform: rotateZ(360deg);
       transition: all 1.5s;
     }
   }
 }
 .reviews{
   &__item{
     z-index: 0;
   }
    &__item-img{
      max-width: 250px;
    }
  }
  .contacts{
    &__inner{
      display: block;
      text-align: center;
    }
    .map{
      width: 100%;
      margin: 0 auto;
      iframe{
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px){
  .discounts{
    padding: 50px 0;
    &__items{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-bottom: 20px;
    }
  }
  .about{
    padding: 30px 0;
    text-align: center;
    &__inner{
      display: block;
    }
    &__title{
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__content{
      margin: 0 auto;
      max-width: 307px;
      font-size: 14px;
    }
    &__img{
      margin: 0 auto;
      max-width: 250px;
    }
    &__content-text{
      span{
        margin-top: 20px;
        display: block;
        max-width: 307px;
      }
    }
    &__content-text--two,
    &__content-text--three{
      display: none;
    }
  }
}

@media (max-width: 820px){
  .footer{
    
    &__logo{
      width: 100px;
      height: 100px;
    }
    &__list{
      display: block;
    }
    &__list-text{
      display: none;
    }
    &__list-item--inst{
      display: none;
    }
  }
}

@media (max-width: 785px){
  .header-content{
    &__title{
      font-size: 48px;
      line-height: 60px;
    }
  }
  .price{
    padding: 30px 0;
    &__item{
      min-width: 230px;
      height: 390px;
    }
    &__item-img{
      width: 213px;
      height: 213px;
      margin: 0 auto;
    }
    &__item-link{
      padding: 12px 18px;
      font-size: 14px;
      line-height: 19px;
    }
    &__item-title{
      font-size: 24.005px;
      line-height: 28px;
    }
    &__item-subtitle{
      font-size: 14.0029px;
      line-height: 18px;
    }
  }
  .reviews{
    padding: 30px 0;
    &__item-img{
      max-width: 200px;
    }
    .slick-next{
      display: none !important;
    }
  }
}

@media (max-width: 530px){
  .header-content{
    &__title{
      font-size: 28px;
      line-height: 36px;
    }
    &__subtitle{
      font-size: 18px;
      line-height: 20px;
    }
    &__wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__link-join{
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .discounts{
    &__item{
      width: 180px;
      height: 220px;
      border-radius: 10px;
      text-align: center;
      position: relative;
      &::after{
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
    &__item-title{
      font-size: 24px;
      line-height: 28px;
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
    }
    &__item-subtitle{
      font-size: 14px;
      line-height: 18px;
      padding: 15px 10px 0;
    }
    &__item-text{
      font-size: 14px;
      line-height: 18px;
      padding: 0 10px;
      bottom: 20px;
    }
  }
  .reviews{
    &__title{
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__item-img{
      margin: 0 auto;
    }
    &__subtitle{
      font-size: 14px;
    }
  }
  .contacts{
    &__title{
      font-size: 24px;
    }
    .map{
      height: 300px;
      iframe{
        height: 300px;
      }
    }
  }
}